main {
  max-width: 1024px;
  margin: 0 auto;
}

.metricas-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 96px;
}

.metricas-container > * {
  width: 25%;
}